# Database
MONGODB_URI=mongodb://localhost:27017/barbershop

# Twilio Configuration
TWILIO_ACCOUNT_SID=AC6b5c9f1e38b5e8a190487806d8e4375c
TWILIO_AUTH_TOKEN=e0ced6505b26595d09ed32e1572d4638
TWILIO_WHATSAPP_FROM=whatsapp:+14155238886
TWILIO_CONTENT_SID=HXd157734942ace80065f74546513e07b1

# Cron Security (opzionale)
CRON_SECRET=your_secret_key_here

# Next.js
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your_nextauth_secret
NEXT_PUBLIC_BASE_URL_API=http://localhost:3000

# Server
HOSTNAME=localhost
PORT=3000
